{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/table' %}.css">
<!-- <link rel="stylesheet" href="{% static 'css/body' %}.css"> -->
{% endblock links %}

{% block content %}
    <div class="col-md-12" style="height:600px; padding:10px;">
        <div class="table-container" style="height:95%; width:100%;">
            <div class="table-header">
                <table class="table-content" style="height:100%;">
                    <tr>
                        <td class='subject_name-column'>
                            Subject Name
                        </td>
                        <td class='subject_type-column'>
                            Type
                        </td>
                    </tr>
                </table>
            </div>
            <div class="table-proper">
                <table class="table-content">
                    {% for school in school_list %}
                    <tr>
                        <td class='subject_name-column'>
                            {{ school.school_name }}
                        </td>
                        <td class='subject_type-column'>
                            <div class="table-button-container">
                                <a href="{% url 'school_update' school.id %}">
                                    <i class="far fa-edit"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="table-add-button">
                <a href="{% url 'subject_add' %}" class="btn btn-success btn-lg">
                    Add new Subject
                </a>
            </div>
        </div>
    </div>
{% endblock content %}