{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/student_form' %}.css">
{% endblock links %}

{% block content %}

<form id="form-id" action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row-mb-3" style='display:flex;align-items: center;justify-content: center;'>
        <h2>Login</h2>
    </div>
    <div class="row mb-3">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {{form.username|add_class:"form-control"|as_crispy_field}}
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {{form.password|add_class:"form-control"|as_crispy_field}}
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-success col-12 btn-lg" onclick='beforeSubmit()'>Login</button>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4"></div>
        <div class="col-md-4" style='display:flex; align-items: center; justify-content: center;'>
            <a href="{% url 'home' %}">Back to home</a>
        </div>
        <div class="col-md-4"></div>
    </div>
</form>

{% endblock content %}



{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'js/examination_forms.js' %}"></script>
<script>
    beforeSubmit = function(){
        if (validateForm()){
            $("#form-id").submit();   
        }                 
    }

    let validateForm = function(){
        let elementValidate = [
            document.getElementById("id_username"),
            document.getElementById("id_password"),
        ];

        let validateLength = elementValidate.length;
        let isEmpty = false;

        for(let i = 0; i < validateLength; i++){
            if (elementValidate[i].value == "") {
                elementValidate[i].style.outline = "solid rgb(226, 111, 111) 1px";
                isEmpty = true;
            }
        }
        

        if(isEmpty == true){
            alert('Please Fill out the Required Fields')
            return false;
        }

        else{
            return true;
        }

    }
</script>
{% endblock javascript %}