.table-container{
    border: solid rgb(0, 0, 0) 1px; 
    background-color: rgb(255, 255, 255);
}

.table-header{
    width:100%;
    height:40px;
    color:white;
}

.table-content{
    width:100%;
    border-spacing: 2px;
    border-collapse: separate !important;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr{
    padding:5px;
}

td{
    padding:3px;
}

.table-header .table-content tr{
  background: #522b2b;
}

.table-proper{
    height:calc(100% - 40px);
    position: relative;
    overflow:auto;
    overflow-y:overlay
}

.table-proper .table-content tr td {
    border-radius: 2px;
    border:solid black 1px;
    overflow:hidden;
    position:relative;
}

.table-button-container{
    position:absolute;
    top:2px;
    left:80%;
    height:calc(100% - 4px);
    width:30px;
    z-index: 5;
}

.table-button-container a, .table-button-container i{
    height:100%;
    width:100%;
    /* display:flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:black;
    display:flex;
    opacity: 50%;
}

.table-button-container:hover a{
    display:flex;
    opacity: 100%;
}

.table-button-container:hover i{
    display:flex;
    opacity: 100%;
}

.table-add-button{
    margin-top:10px;
    border-radius: 2px;
    height:60px;
    width:100%;
    display:flex;
    flex-direction: row-reverse;
}

.subject_name-column{
    width:70%;
}

.subject_type-column{
    width:30%;
    min-width:150px;
}

.table-add-button a{
    width:150px;
    font-size: 16px;
}

.table-content tr td{
    padding-left:10px;
}

.student_name-column{
    width:50%;
}

.student_exam-column{
    width:25%;
}

.student_date-column{
    width:25%;
}